*{
  margin: 0;
  padding: 0;
  box-direction: border-box;
  background-color: lightcyan;
}
.c{
 font-family: cursive;
 font-size: 40px;
 text-align: center;
 font-weight: bold;
 margin-top: 15px;
}
.container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  grid-gap: 20px;
  margin: 30px auto;
  font-weight: 700;
  font-family: 'poppins',sans-serif;
  grid-auto-rows: 270px;
  justify-content: center;
}
.container:hover{
  transform: scale(1.02)
}
.items{
  background-color: cadetblue;
  border: 1px solid cade;
  display: flex;
  flex-direction: column;
}
.circle{
  height: 140px;
  width: 140px;
  border: 1px solid cadetblue;
  border-radius: 50%;
  
  background-size: cover;
  margin-top: 14px;
  margin-left: 75px;
}
.c1{
  background-image: url(image/🍾.jpg);
}
.c2{
  background-image: url(image/bottle.jpg);
}
.c3{
  background-image: url(image/বোতল.jpg);
}
.c4{
  background-image: url(image/🍶🍾.jpg);
}
.c5{
  background-image: url(image/🍾.jpg);
}
.c6{
  background-image: url(image/🍾🍾.jpg);
}
.class{
  background-color: cadetblue;
  text-decoration: none;
  font-size: 20px;
 margin-top: 9px;
  margin-left: 100px;
  color: bisque;
  font-family: cursive;
  font-weight: bold;
}
.c12{
  margin-top: 29px;
}
.c13{
  margin-top: 29px;
}
.c14{
  margin-top: 29px;
}
.c15{
  margin-top: 29px;
}
.c16{
  margin-top: 29px;
}
.btn{
  border: 0;
  outline: 0;
  marker: 0;
  padding: 0;
  height: 30px;
  width: 120px;
  background-color: coral;
  margin-left: 90px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}
.btn:hover{
  transform: scale(1.1)
}