.items1{
    background-color: #9A7D0A;
  
    
}
.items2{
    background-color: #283747;
}
.items3{
    background-color: #C0392B;
}
.items4{
    background-color: #6E2C00;
    grid-row:2/3 ;
grid-column:2/3;

}
.items5{
    background-color: #145A32;

}
.items6{
    background-color: #2980B9;
}
.container{
    width: 700px;
    height: 220px;
    border: 2px solid black;
    display: grid;
    color: aliceblue;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(2,100px);
    grid-gap:20px;
    padding: 20px;
}

