*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: 
}
.banner{
    background-image: ;
    background-position: center;
    background-size: cover;
}
header.logo{
    
}